@import "../lib/imports";

#builder-page {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100-$pageHeight;
    background-color: $black;
    z-index: 1000;
    text-align: center;

    h1 {
      font-family: 'Allan', cursive;
      font-size: 45px;
    }
  }
}
